@model Kalendarz.Models.Kal

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły wydarzenia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypWydarzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypWydarzenia.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoIle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoIle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do kalendarza</a>
</div>
